<!DOCTYPE html>
<html>
<head>
  <% if content_for (:title) %>
    <title><%= @title %></title>
  <% else %>
    <title>GardenRails7</title>
  <% end %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<%= yield %>
</body>
</html>
